@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.logo {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    font-size: 40px;
    color: white;

}

.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    border-radius: 50%;
}

.bulb {
    font-size: 70px;
    padding-left: 230px;
    padding-top: 20px;
    color: #000000;
}

.bulb1 {
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
   
}


.button1 {
    padding-left: 80px;

}

.dryer {
    padding-left: 230px;
    padding-top: 20px;
}
.items{
    margin-top: 30px;
}
table, th, td {
    border: 1px solid black;
  }
  .box{
      padding: 40px;
  }

  footer{
      background-color: rgb(52,58,64);
      color: white;
      padding: 10px;
  }
  
  li{
    list-style-type: none;
  }
 .fyp{
     float:right;
     padding-left: 950px;
     padding-top: 30px;
     font-size: 25px;
     color: white;
     font-weight: bolder;
     font-family: Arial, Helvetica, sans-serif;
 }